*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin: 0;
    background-color: #f5f5f5;
}

.container,
header,
main,
.dog-info,
.button-container,
.button-div {
    display: flex;
}

.container {
    flex-direction: column;
    max-width: 550px;
    padding: .40em .40em 0;
    margin: auto;
}

/* HEADER */
header {
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .45em;
}

.header-icon {
    width: 15%;
}

.logo {
    width: 25%;
}

/* MAIN */
main {
    position: relative;
}

.dog-picture {
    width: 100%;
    border-radius: 50px;
    ;
}

.dog-info {
    position: absolute;
    flex-direction: column;
    bottom: 0.80em;
    left: 1em;

}

.dog-title,
.dog-bio {
    margin: 0;
}

.dog-title {
    color: #F8F8F8;
}

.dog-bio {
    color: #B7B7B7;
}

.status {
    z-index: 0;
    /*Hide the status in case the equipment is really little*/
    position: absolute;
    top: -0.80em;
    transform: rotate(-30deg);
}

.status-img {
    width: 45%;
}

/* FOOTER */

.button-container {
    width: 50%;
    margin: 1rem auto;
}

.button-div {
    width: 91.87px;
    height: 91.87px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 100%;

}

.like:hover {
    background-color: #DBFFF4;

}

.dislike:hover {
    background-color: #FFE7EF;
}

.button-selector {
    width: 30px;
    height: 30px;

}