*{
 box-sizing: border-box;   
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;  
}

.container, 
header, 
main, 
footer,
.button-div,
.dog-info{
    display: flex;
}

.container{
    background: #f8f8f8;
    width: 28%;
    height: 100vh;
    flex-direction: column;
    margin: auto;
    padding: 0 0.750em;
}

/* Header section */
header{
    margin-top: 1em;
    height: 9%;
    justify-content: space-between;
    align-items: center;
}

.header-icon{
    width: 32px;
    height: 34px;
}

.logo{
    width: 84px;
}

.chat{
    width: 34px;
}
/* Main section */

main{
    margin-top: 24px;
    position: relative;
    border-width: 2px;
    border: 1px solid blue;
}

.dog-picture{
    
    width: 100%;
    border-radius: 50px;
}

.dog-info{
    position: absolute;
    flex-direction: column;
    width: 276px;
    color:white;
    left: 20px;
    bottom: 20px;    
}

.status{
    width: 233px;
    height: 116.26px;
    position: absolute;
    top: 56px;
    left: 27px;

}

.status-img{
 width: 100%;
 transform: rotate(-30deg);
}

.dog-info h1,
.dog-info, h3{
    margin: 0;
}

.dog-bio{
    margin-top: 7px;
    font-size: 24px;
    color: #B7B7B7;
    font-weight: lighter;
}

/* Footer */

footer{
 margin: 24px auto 0;
 gap: 24px;
 
}

.button-div{
    width: 91.87px;
    height: 91.87px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
}

.like:hover{
    background-color: #DBFFF4;

}

.dislike:hover{
    background-color: #FFE7EF;
}
.button-selector{
    width: 30px;
    height: 30px;
    
}